.home{
    background-color: black;
    background-image: url("fd.jpg");
    margin:0;
    height: 500px;
    padding: 20px;
    &__filter{
        background-color: rgba(0, 0, 0, 0.582);
        height: 500px;
    }
    &__title{
        padding: 20px;
        text-align: center;
        color: white;
        font-weight: 800;
        font-size: 40px;
    }
    &__form{
        text-align: center;
    }
}