//Page d'accueil (tous les films)
.banner{
    background-color:black;
    font-family: $titleFont;
    color: white;
    padding: 20px;
    &__title{
        font-size: 200px;
    }
    &__description{
        margin-left: 30px;
        padding-top: 140px;
        height: 190px;
    }
    &__img{
        .img{
            size: cover;
            position: center center;
            object-fit: contain;
            height: 500px;

        }
    }
}


.row{
    display: flex;
}
/*.Movie__Card:hover {
    .card__footer{
        animation: apparitionFooter 0.3s forwards;
    }
    transform: scale(1.5) !important;
}*/
